# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Compilación y publicación
bin/
obj/
salida/
publish/
artifacts/
TestResults/

# Archivos temporales
*.tmp
*.temp
*.log
*.bak
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
